<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <br>
    <h4><%= messageT %></h4>
    <br>
    <p><%= messageA %></p>
    <br>
    <p><%= messageG %></p>
    <br>
    <p><%= messageH %></p>
    <br>
    <p><%= messageL %></p>
    <br>
    <p><%= messageU %></p>
<%- include partials/footer.ejs %>