<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <br>
    <p><%= messageN %></p>
    <br>
    <p><%= messageP %></p>
    <br>
    <p><%= messageE %></p>
<%- include partials/footer.ejs %>