<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <br>
    <h4><%= projectsT %></h4>
    <br>
    <a href="https://gc200314576lab4.herokuapp.com/" target="_blank">COMP2068-Lab4</a>
    <br>
    <a href="https://gc200314576lesson4.herokuapp.com/" target="_blank">COMP2068-Lesson4</a>
    <br>
    
    <h4><%= githubT %></h4>
    <p><%= githubM %></p>
    <a href="https://github.com/ShadowKnight95" target="_blank">GitHub</a>
<%- include partials/footer.ejs %>